@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.menu-background{
    background: rgba(0, 14, 35, 1);
}

.custom-background {
    background: rgba(24, 49, 87, 0.25);
    border-radius: 50px;
}

.root-background {
    background: rgba(0, 14, 35, 1);
}


/* About*/
.about-padding-main {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.width-about {
    max-width: 50rem;
    width: auto;
}

.padding-p-about {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* navbar */

.margin-x-navbar {
    margin-left: 10%;
    margin-top: 20px;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

/* Projects ---------------------------------------------------------------------*/

.margin-project {
    margin-left: 10%;
    margin-top: 25px;
    margin-right: 10%;
    max-width: 60rem;
    height: fit-content;
    justify-content: flex-start;
    border: rgba(255, 255, 255, 0.2) 1px solid;
}

.margin-project-text {
    margin-top: 0.5rem;
    width: fit-content;
}

.project-image {
    height: 100%;
    width: 100%;
    max-height: 30rem;
    border-radius: 30px 0 0 30px;
}

@media (max-width: 1100px) {
    .margin-project {
        flex-direction: column;
        max-width: 30rem;
    }
    .project-image {
    height: 100%;
    width: 100%;
    max-height: 30rem;
    border-radius: 30px 30px 0 0;
}
}


/* home ---------------------------------------------------------------------*/

.hero-flex {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.margin-recent {
    margin: auto;
    max-width: 20rem;
    background: rgba(0, 14, 35, 1);
    border-radius: 7px;
    border: rgba(131, 126, 126, 0.26) 1px solid;
}

.recent-image {
    height: 100%;
    width: 100%;
    max-height: 30rem;
    border-radius: 5px;
    padding-bottom: 1rem;
}

.line-height {
    line-height: 2.4rem;
    letter-spacing: 0.05em;
}

.recent-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: fit-content;
    margin: auto;
    grid-gap: 1rem;
    padding: 1rem;
}

@media (max-width: 1100px) {
    .recent-grid {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: none;
    }

}

.some-work-css {
    border-top: rgba(131, 126, 126, 0.26) 1px solid;
}


/* footer ---------------------------------------------------------------------*/
.footer-css{
    padding: 1rem;
    color: rgba(187, 222, 251, 1);
    border-top: rgba(131, 126, 126, 0.26) 1px solid;
    margin: auto;
    align-items: center;
}
.foot-item{
    padding: 0 0.5rem;
    margin: auto;
}

@media (max-width: 800px) {
    .footer-css {
        padding: 1.5rem;
        margin: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        text-align: center;
    }
}